body {
  font-family: 'Open Sans', arial, sans-serif;
  color: #152A3E;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #152A3E;
}

.dark-bg {
  background-color: #152A3E;
}

p {
  margin-bottom: 15px;
  line-height: 1.5;
}

a {
  /*color: #3aa7aa;*/
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

a:hover {
  text-decoration: underline;
  /*color: #339597;*/
}

a:active {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

.btn, a.btn {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
}

.btn .fa, a.btn .fa {
  margin-right: 5px;
}

.btn:focus, a.btn:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.btn-cta, a.btn-cta {
  font-weight: bold;
  font-size: 16px;
  padding: 10px 30px;
}

.fa-icon {
  color: #0C91F0;
  font-size: 80px;
}

.fa-icon-med {
  color: #0C91F0;
  font-size: 50px;
}

.btn-primary {
  background: #0C91F0;
  border: 1px solid #0C91F0;
  color: #fff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.hover {
  /*background: #3aa7aa;*/
  color: #fff;
  /*border: 1px solid #3aa7aa;*/
}

.btn-inverse {
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid transparent;
  color: #fff;
}

.btn-inverse:hover, .btn-inverse:focus, .btn-inverse:active, .btn-inverse.active, .btn-inverse.hover {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: 1px solid transparent;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 30;
  height: 60px;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  background: #152A3E;
}

.header.header-scrolled {
  background: #152A3E;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.header.header-scrolled a {
  color: #152A3E;
}

.header.header-scrolled .logo {
  color: #0C91F0;
  padding-top: 15px;
}

.header.header-scrolled .logo .logo-icon-wrapper {
  width: 113px;
  height: 30px;
}

.header.header-scrolled .logo .logo-icon {
  width: 113px;
  height: 30px;
  margin-right: 0;
}

.header.header-scrolled .main-nav .nav .nav-link {
  color: #ffffff;
}

.header.header-scrolled .main-nav .nav .nav-link:hover {
  color: #0C91F0;
}

.header.header-scrolled .main-nav .nav .nav-link.active {
  color: #0C91F0;
  border-bottom: 4px solid #0C91F0;
}

.header a {
  color: #fff;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
}

.header a:hover {
  text-decoration: none;
}

.header .logo {
  margin: 0;
  display: inline-block;
  float: left;
  font-size: 28px;
  padding-top: 15px;
}

.header .logo .logo-icon-wrapper {
  margin-right: 3px;
  position: relative;
  display: inline-block;
  top: -3px;
}

.header .logo .logo-icon {
  width: 113px;
  height: 30px;
}

.header .logo .highlight {
  font-weight: 800;
}

.main-nav {
  margin-top: 6px;
}

.main-nav .navbar-toggler {
  margin-right: 0;
  margin-top: 0;
  background: none;
  position: absolute;
  padding: 8px 10px;
  right: 10px;
  top: 12px;
  background: #152A3E;
}

.main-nav .navbar-toggler:focus {
  outline: none;
}

.main-nav .navbar-toggler .icon-bar {
  display: block;
  background-color: #fff;
  height: 3px;
  width: 22px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.main-nav .navbar-toggler .icon-bar + .icon-bar {
  margin-top: 4px;
}

.main-nav .navbar-toggler:hover .icon-bar {
  background-color: #fff;
}

.main-nav .nav .nav-item {
  font-weight: normal;
  font-size: 14px;
  margin-right: 10px;
}

.main-nav .nav .nav-item .nav-link {
  color: #ffffff;
  font-weight: 700;
}

.main-nav .nav .nav-item .nav-link.active {
  position: relative;
  background: none;
  color: #fff;
}

.main-nav .nav .nav-item .nav-link:hover {
  color: #0C91F0;
  background: none;
}

.main-nav .nav .nav-item .nav-link:focus {
  outline: none;
  background: none;
}

.main-nav .nav .nav-item .nav-link:active {
  outline: none;
  background: none;
}

.main-nav .nav .nav-item:last-child {
  margin-right: 0;
}

.nav > li > a {
  padding-left: 5px;
  padding-right: 5px;
}

.nav-link {
  padding: 15px;
}

.footer {
  background: #152A3E;
  color: rgba(255, 255, 255, 0.6);
  padding: 15px 0;
}

.footer a {
  color: #0C91F0;
}

.footer .fa-heart {
  color: #EA5395;
}

.about-section {
  padding-top: 90px;
  color: #ffffff;
}

.about-section .section-title {
  margin: 0 0 15px 0;
  font-size: 36px;
  font-weight: 300;
}

.about-section .intro {
  color: #ffffff;
  font-size: 16px;
  max-width: 760px;
  margin: 0 auto 60px;
}

.about-section .items-wrapper {
  margin-bottom: 60px;
}

.about-section .items-wrapper .figure-holder {
  margin-bottom: 15px;
  vertical-align: bottom;
}

.about-section .items-wrapper .figure-image {
  max-width: 220px;
}

.about-section .items-wrapper .item-inner {
  padding: 30px;
}

.about-section .items-wrapper .item-title {
  color: #0C91F0;
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 15px;
}

.about-section .items-wrapper .item-desc {
  color: #ffffff;
}

.technologies {
  margin-bottom: 30px;
}

.technologies .list-inline-item {
  margin-right: 15px;
}

.technologies .list-inline-item:last-child {
  margin-right: 0;
}

.carousel-item {
  background: #0C91F0;
}

.testimonials {
  background: #0C91F0;
}

.testimonials-inner {
  padding: 60px 30px;
  position: relative;
  max-width: 800px;
}

.testimonials-inner .profile-holder {
  position: absolute;
  left: 30px;
  text-align: center;
}

.testimonials-inner .profile-image {
  display: inline-block;
  margin: 0 auto;
}

.testimonials-inner .quote {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  margin-left: 130px;
  border-left: none;
  margin-bottom: 0;
  font-size: 14px;
  min-height: 100px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  position: relative;
  padding: 15px;
}

.testimonials-inner .quote:before {
  position: absolute;
  left: -10px;
  top: 30px;
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid rgba(0, 0, 0, 0.5);
}

.testimonials-section {
  /*background: #0C91F0 url("../images/map.png") no-repeat center center;*/

  background: #0C91F0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 90px;
  padding-bottom: 90px;
  color: #ffffff;
}

.testimonials-section .section-title {
  margin: 0 0 30px;
  font-size: 36px;
  font-weight: 300;
  color: #ffffff;
}

.testimonials-section .item {
  position: relative;
  max-width: 800px;
  padding: 30px;
}

.testimonials-section .item:last-child {
  margin-bottom: 0;
}

.testimonials-section .item.item-reversed .profile-holder {
  left: inherit;
  right: 30px;
}

.testimonials-section .item.item-reversed .quote {
  margin-left: 0;
  margin-right: 105px;
}

.testimonials-section .item.item-reversed .quote:before {
  left: inherit;
  right: -10px;
  content: "";
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid rgba(0, 0, 0, 0.5);
  border-right: inherit;
}

.testimonials-section .item .profile-holder {
  position: absolute;
  left: 30px;
  text-align: center;
}

.testimonials-section .item .profile-image {
  display: inline-block;
  margin: 0 auto;
  width: 80px;
  height: 80px;
}

.testimonials-section .item .quote {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  margin-left: 105px;
  border-left: none;
  margin-bottom: 0;
  font-size: 14px;
  min-height: 80px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  position: relative;
  padding: 30px;
}

.testimonials-section .item .quote:before {
  position: absolute;
  left: -10px;
  top: 30px;
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid rgba(0, 0, 0, 0.5);
}

.testimonials-section .item .quote-source {
  color: #ffffff;
  font-style: italic;
}

.team-section {
  padding-top: 90px;
  padding-bottom: 90px;
  background: #152A3E;
  color: #ffffff
}

.team-section .section-title {
  margin: 0 0 15px;
  font-size: 36px;
  font-weight: 300;
}

.team-section .intro {
  color: #ffffff;
  font-size: 16px;
  max-width: 760px;
  margin: 0 auto 60px;
}

.team-section .story {
  margin: 0 auto 60px;
  max-width: 760px;
}

.team-section .profile-image {
  width: 120px;
  height: 120px;
}

.team-section .members-wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.team-section .item-inner {
  padding: 30px;
  background: #cccccc;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  height: 100%;
}

.team-section .member-name {
  font-size: 18px;
  font-weight: 700;
  color: #0C91F0;
}

.team-section .member-title {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 15px;
  color: #616670;
}

.team-section .social {
  margin-bottom: 30px;
}

.team-section .social a {
  display: inline-block;
  width: 32px;
  height: 32px;
  font-size: 18px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #0C91F0;
  padding-top: 3px;
  color: #fff;
}

.team-section .social a.google {
  background: #dd4b39;
}

.team-section .social a.google:hover {
  background: #d73925;
}

.team-section .social a.twitter {
  background: #55acee;
}

.team-section .social a.twitter:hover {
  background: #3ea1ec;
}

.team-section .social a.facebook {
  background: #3b5998;
}

.team-section .social a.facebook:hover {
  background: #344e86;
}

.team-section .social a.linkedin {
  background: #1E6FBA;
}

.team-section .social a.linkedin:hover {
  background: #1a62a4;
}

.team-section .social a.github {
  background: #444;
}

.team-section .social a.github:hover {
  background: #373737;
}

.team-section .social a.dribble {
  background: #EC4D8B;
}

.team-section .social a.dribble:hover {
  background: #ea367c;
}

.team-section .social a.medium {
  background: #1a1a1a;
}

.team-section .social a.medium:hover {
  background: #000;
}

.team-section .member-desc {
  color: #616670;
}

.contact-section {
  padding-top: 90px;
  padding-bottom: 90px;
  /*background: #152A3E url("../images/map.png") no-repeat center center;*/
  color: #fff;
}

.contact-section .section-title {
  font-size: 36px;
  font-weight: 300;
  margin: 0 0 30px;
}

.contact-content {
  max-width: 600px;
  margin: 0 auto 60px;
}

@media (max-width: 768px) {
  .navbar-collapse {
    border-top: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    left: 0;
    top: 60px;
    position: absolute;
    background: rgba(21, 42, 62, 0.9);
    z-index: 40;
  }
  .header.header .main-nav .nav .nav-link {
    color: #ffffff;
  }
  .header.header .main-nav .nav .nav-link:hover {
    color: #0C91F0;
  }
  .header.header-scrolled .main-nav .nav .nav-link {
    color: #ffffff;
  }
  .header.header-scrolled .main-nav .nav .nav-link.active {
    color: #0C91F0;
    border: none;
  }
  .main-nav .navbar-collapse .nav-item {
    margin-right: 0;
  }
  .main-nav .navbar-collapse .nav-item a {
    text-align: center;
  }

  .technologies li {
    margin-bottom: 15px;
  }
  .members-wrapper .item {
    margin-bottom: 30px;
  }
  .members-wrapper .item:last-child {
    margin-bottom: 0;
  }
  .testimonials-section .item .profile-image {
    width: 60px;
    height: 60px;
  }
  .testimonials-section .item .quote {
    margin-left: 85px;
    padding: 15px;
  }
  .testimonials-section .item.item-reversed .quote {
    margin-right: 85px;
  }
}

@media (min-width: 992px) {
  .main-nav .nav .nav-item {
    margin-right: 25px;
  }
}
